doctype html
html
  head
    title Meet up Event Planner
    meta(name='author', content='Richard C Felix')
    meta(name='description' content='Meet Up Event Planner')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
        
    link(href='css/style.css', rel='stylesheet', type='text/css')
    
  body              
    block body
        
