/************************
       Show Events
************************/
#eventDetails{
  text-align: center;

  span{
    display: block;
    margin-top: 1.5vh;
  }

  input{
    margin-top: 1.5vh;
  }
}
